@media screen and (min-width: 1240px) and (max-width: 30000px) {
    .header-btns {
        display: block !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1239px) {
    .container {
        padding: 0 30px;
    }

    .slider1-box p {
        font-size: 16px;
    }

    .faq-heading h2 {
        font-size: 45px;
    }

    .popuppart {
        width: 1080px;
    }

    .header-btns {
        display: block !important;
    }

    .footerpr-part {
        width: 100%;
    }

    .ziehharmonika > div {
        padding-right: 0px;
    }

    .winningtmusitem-left h2 {
        font-size: 35px;
    }

    .lotteryresultsitems4 ul li {
        margin-right: 7px;
    }

    .slider1-user img {
        margin-bottom: 14px;
        margin-top: -48px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }

    .faq-heading h2 {
        font-size: 40px;
        line-height: 63px;
    }

    .ziehharmonika h3 br {
        display: none;
    }

    .slider1-box {
        width: 100%;
        padding: 30px 16px;
    }

    .slider1-box p {
        font-size: 14px;
        text-align: center;
        line-height: 24px;
        padding-bottom: 6px;
    }

    .footerlogos ul li {
        margin: 0 19px;
    }

    .popuppart {
        width: 600px;
        margin: auto;
        height: initial;
        display: block;
    }

    .popupleft {
        display: none;
    }

    .popupright {
        width: 100%;
        height: 100%;
        padding: 30px 35px;
        border-radius: 25px;
        margin-left: 0px;
        position: relative;
        z-index: 9;
    }

    .close-btn {
        right: -18px;
    }

    .header-btns {
        display: block !important;
    }

    .newhero-part h2 {
        font-size: 40px;
    }

    .newhero-part p {
        font-size: 14px;
    }

    .newtextitem1 h2 {
        font-size: 35px;
    }

    .newtextitem1 p {
        font-size: 16px;
    }

    .newtextitem2 h2 {
        font-size: 35px;
    }

    .newtextitem2 ul li p {
        font-size: 16px;
        line-height: 26px;
        padding-left: 14px;
        margin-top: -16px;
    }

    .newtextitem2 h4 {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
    }

    .footerpr-part {
        width: 100%;
    }

    .ziehharmonika > div {
        padding-right: 0px;
    }

    .slider-area .owl-carousel .owl-item.center.active {
        transform: scale(1.1) !important;
    }

    .slider1-user img {
        margin-top: -78px;
    }

    .lotteryresultsitems4 ul li {
        margin-right: 1px;
    }

    .lotteryresultsitems {
        padding: 12px 20px;
    }

    .lotteryresultstitles {
        padding: 12px 20px;
    }

    .winningtmusitem-left h2 {
        font-size: 28px;
    }

    .winningtmusitem-left p br {
        display: none;
    }

    .winningtmusitem-left p {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        padding-bottom: 0px;
    }

    .winningtmus-box {
        height: 300px;
    }

    .winningtmusitem-left a {
        font-size: 16px;
        width: 175px;
        height: 42px;
        line-height: 42px;
    }

    .howworktl-part {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0 30px;
    }

    .hero-part {
        width: 100%;
    }

    .hero-part h1 {
        font-size: 55px;
        line-height: 71px;
        margin: 0;
        padding-bottom: 20px;
    }

    .hero-part p {
        font-size: 15px;
        line-height: 26px;
    }

    .hero-area {
        padding: 165px 0;
    }

    .slider1-box p {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 6px;
    }

    .slider-area {
        padding-bottom: 80px;
    }

    .faq-heading h2 {
        font-size: 35px;
        line-height: 50px;
    }

    .sliderhd-text h2 {
        font-size: 35px;
    }

    .innerpvatpb-item {
        padding: 25px 15px;
    }

    .footer-nav ul li a {
        font-size: 14px;
    }

    .footer-nav ul li {
        margin: 0px 5px;
    }

    .footer-nav ul li span {
        font-size: 14px;
    }

    .footerlogos ul li {
        margin: 0 13px;
    }

    .popuppart {
        width: 600px;
        margin: auto;
        height: initial;
        display: block;
    }

    .popupleft {
        display: none;
    }

    .popupright {
        width: 100%;
        height: 100%;
        padding: 30px 35px;
        border-radius: 25px;
        margin-left: 0px;
        position: relative;
        z-index: 9;
    }

    .close-btn {
        right: -18px;
    }

    .header-btns {
        display: block !important;
    }

    .newhero-part h2 {
        font-size: 40px;
    }

    .newhero-part p {
        font-size: 14px;
    }

    .newtextitem1 h2 {
        font-size: 35px;
    }

    .newtextitem1 p {
        font-size: 16px;
    }

    .newtextitem2 h2 {
        font-size: 35px;
    }

    .newtextitem2 ul li p {
        font-size: 16px;
        line-height: 26px;
        padding-left: 14px;
        margin-top: -14px;
    }

    .herototimerbox {
        gap: 25px;
    }

    .timer span {
        font-size: 24px;
        line-height: 52px;
        width: 52px;
        height: 52px;
    }

    .herototimerbox-text h3 {
        font-size: 30px;
        font-weight: 600;
    }

    .whattl-part {
        display: block;
    }

    .whattl-left {
        width: 100%;
    }

    .whattl-right {
        width: 100%;
    }

    .whattl-left img {
        max-width: 100%;
        display: block;
        height: 370px;
        margin: auto;
        margin-bottom: 55px;
    }

    .whattl-right h2 {
        text-align: center;
    }

    .whattl-right p {
        line-height: 30px;
        text-align: center;
    }

    .winningtmus-part {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 35px;
    }

    .howworktl-part {
        width: 100%;
        display: block;
        margin: auto;
    }

    .howworktl-part h2 {
        font-size: 45px;
    }

    .lotteryresults-part {
        display: none;
    }

    .slider2-area {
        display: block;
    }

    .innermblyrsls-item1 {
        padding-bottom: 20px;
    }

    .innermblyrsls-item1 h4 {
        font-size: 20px;
    }

    .innermblyrsls-item1 p {
        font-size: 16px;
    }

    .mblyresults-heading h2 {
        font-size: 25px;
    }

    .innermblyrsls-item2 h4 {
        font-size: 20px;
    }

    .innermblyrsls-item2 ul {
        padding-top: 25px;
    }

    .innermblyrsls-item2 {
        padding-top: 23px;
        padding-bottom: 17px;
    }

    .footerpr-part {
        width: 100%;
    }

    .ziehharmonika > div {
        padding-right: 0px;
    }

    .newtextitem2 h4 {
        font-size: 16px;
        line-height: 29px;
    }
}

@media screen and (max-width: 767px) {
    .header-area {
        position: relative;
    }

    .menu-part {
        display: block;
    }

    .header-logo {
        width: 70%;
    }

    .header-logo img {
        max-width: 100%;
        display: block;
        height: 35px;
    }

    .menu-part {
        width: 30%;
        text-align: right;
    }

    .header-btns {
        position: absolute;
        top: 58px;
        background-color: #fff;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        display: none;
    }

    .header-btns ul li {
        display: inline-block;
        padding-right: 0px;
        margin: 0 5px;
    }

    .header-btns ul li a {
        font-size: 14px;
        width: 127px;
        height: 44px;
        display: block;
        line-height: 44px;
    }

    .headertop-part p img {
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 3px;
    }

    .headertop-part p {
        font-size: 9px;
        font-weight: 500;
    }

    .headertop-area {
        padding: 5px 0;
    }

    .hero-area {
        padding: 80px 0;
        padding-bottom: 180px;
        background-position: left;
    }
    .newtextitem2 ul {
        padding-left: 20px;
    }

    .hero-part {
        width: 100%;
    }

    .hero-part h1 {
        font-size: 36px;
        font-weight: bold;
        line-height: 54px;
        padding-bottom: 12px;
    }

    .hero-part p {
        font-size: 12px;
        line-height: 22px;
    }

    .hero-part a {
        font-size: 14px;
        height: 38px;
        display: block;
        line-height: 38px;
        margin-top: 25px;
    }

    .slider-area {
        padding: 40px 0;
        padding-bottom: 40px;
    }

    .slider-heading {
        display: block;
        padding-bottom: 20px;
    }

    .sliderhd-text h2 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 0px;
        line-height: 40px;
    }

    .slider1-box {
        width: 100%;
        padding: 35px 10px;
    }

    .slider1-box p {
        font-size: 14px;
        text-align: center;
        line-height: 21px;
        margin: 0;
        padding-bottom: 7px;
    }

    .slider1-box h3 {
        font-size: 18px;
        padding-bottom: 14px;
    }

    .slider-area .owl-dots {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .faq-area {
        padding: 40px 0;
    }

    .faq-heading h2 {
        font-size: 29px;
        line-height: 40px;
    }

    .faq-heading {
        padding-bottom: 20px;
    }

    .ziehharmonika h3 {
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        padding: 15px 0px;
        margin-top: 0;
        padding-right: 31px;
        line-height: 20px;
    }

    .ziehharmonika .collapseIcon img {
        max-width: 70%;
    }

    .ziehharmonika .collapseIcon {
        right: 6px;
        top: 41%;
        font-size: 25px;
    }

    .ziehharmonika > div {
        font-size: 12px;
        line-height: 21px;
        text-align: left;
        padding: 0px 0px;
        margin-bottom: 0px;
        padding-top: 0;
        padding-right: 16px;
    }

    .innerpvatpb-item {
        padding: 25px 15px;
    }

    .ziehharmonika > div span {
        margin-top: 20px;
    }

    .footer-logo img {
        max-width: 100%;
        display: block;
        margin: auto;
        height: 46px;
    }

    .footer-nav ul li span {
        display: none;
    }

    .footer-nav ul li {
        display: block;
        margin: 0 0px;
        padding-bottom: 12px;
    }

    .footer-nav ul {
        text-align: center;
        padding-top: 35px;
    }

    .footer-copyright p {
        font-size: 10px;
        text-align: center;
        font-weight: 400;
    }

    .footerlogos ul {
        text-align: center;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 12px;
        align-items: center;
        justify-content: space-between;
        grid-row-gap: 35px;
        padding-bottom: 55px;
    }

    .footer-area {
        padding: 40px 0;
        padding-bottom: 0px;
    }

    .footer-nav ul li a {
        font-size: 14px;
    }

    .header-btns ul {
        text-align: center;
    }

    .popuppart {
        width: 300px;
        display: block;
        margin: auto;
        height: initial;
    }

    .popupleft {
        width: 100%;
        display: none;
    }

    .popupright {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        padding: 30px 15px;
        box-sizing: border-box;
        border-radius: 15px;
        margin-left: 0px;
        position: relative;
        z-index: 9;
    }

    .popupform-heading h3 {
        font-size: 18px;
    }

    .popupform-heading p {
        font-size: 12px;
    }

    .popupform-item1 {
        display: block;
    }

    .ppform-item1-left {
        width: 100%;
    }

    .ppform-item1-right {
        width: 100%;
    }

    .popupformitems p {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 4px;
    }

    .popupformitems input {
        font-size: 12px;
        width: 100%;
        padding: 10px 10px;
        outline: none;
        margin-bottom: 6px;
    }

    .popupformitems input::placeholder {
        font-size: 12px;
    }

    .popupform-heading {
        padding-bottom: 15px;
    }

    .popupformitems h6 {
        font-size: 9px;
        font-weight: 400;
        line-height: 18px;
        margin-top: -6px;
        margin-bottom: 10px;
    }

    .popupformitems input[type="submit"] {
        font-size: 14px;
        padding: 14px 14px;
        margin-bottom: 0px;
    }

    .toggle-password img {
        width: 15px;
        height: 15px;
    }

    .toggle-password {
        right: 6px;
        top: 9px;
    }

    .checkmark {
        top: 7px;
        height: 14px;
        width: 14px;
        border-radius: 0px;
    }

    .checkboxpart .checkmark:after {
        left: 5px;
        top: 1px;
        width: 3px;
        height: 8px;
    }

    .checkboxpart {
        padding-left: 23px;
        font-size: 10px;
    }

    .popupform-item3 h5 {
        font-size: 10px;
        padding-top: 18px;
        position: initial;
        width: 100%;
    }

    .close-btn img {
        width: 14px;
        height: 14px;
    }

    .close-btn {
        width: 35px;
        height: 36px;
    }

    .rbmeftpd-right p a {
        font-size: 10px;
    }

    .newhero-part h2 {
        font-size: 36px;
        padding-bottom: 5px;
    }

    .newhero-part p {
        font-size: 10px;
    }

    .newhero-area {
        background-image: initial;
        padding: 80px 0;
    }

    .newtextitem1 h2 {
        font-size: 25px;
        padding-bottom: 5px;
    }

    .newtextitem1 p {
        font-size: 14px;
        line-height: 25px;
    }

    .newtextitem2 h2 {
        font-size: 25px;
        padding-bottom: 5px;
    }

    .newtextitem2 h3 {
        font-size: 16px;
        line-height: 30px;
    }
    .newtextitem2 p {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }

    .newtextitem2 ul li p {
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        padding-left: 14px;
        margin-top: -15px;
    }

    .newtextitem1 {
        padding-bottom: 0px;
    }

    .newtextitem2 {
        padding-bottom: 0px;
    }
    .newtextitem2 {
        margin-bottom: 20px;
    }

    .newtexts-area {
        padding: 40px 0;
    }

    .newtext-part {
        padding: 20px;
    }

    .herototimerbox {
        padding: 34px 18px;
        display: block;
        margin-bottom: 0px;
        position: relative;
        top: -84px;
    }

    .herototimerbox-text {
        padding-bottom: 24px;
    }

    .herototimerbox-text h3 {
        font-size: 23px;
        text-align: center;
    }

    .timer span {
        font-size: 18px;
        line-height: 48px;
        font-weight: 600;
        width: 45px;
        height: 48px;
        display: block;
        margin-bottom: 4px;
    }

    .timer {
        gap: 5px;
    }

    .timer h5 {
        font-size: 24px;
        margin-top: -21px;
        padding: 0 0px;
    }

    .whattl-part {
        display: block;
        gap: 0px;
    }

    .whattl-left {
        width: 100%;
        margin-bottom: 30px;
    }

    .whattl-right {
        width: 100%;
    }

    .whattl-left img {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .whattl-right h2 {
        font-size: 29px;
        line-height: 40px;
        margin: 0;
        padding-bottom: 10px;
    }

    .whattl-right p {
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 16px;
    }

    .timerarea {
        margin-bottom: -40px;
    }

    .winningtmus-part {
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
    }

    .winningtmus-box {
        padding: 20px;
        height: initial;
        display: block;
        padding-bottom: 25px;
    }

    .winningtmusitem-left {
        width: 100%;
        display: block;
    }

    .winningtmusitem-left img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: 170px;
    }

    .winningtmusitem-right {
        display: none;
    }

    .winningtmusitem-left h2 {
        font-size: 16px;
        text-align: center;
        padding-bottom: 7px;
    }

    .winningtmusitem-left p br {
        display: none;
    }

    .winningtmusitem-left p {
        font-size: 11px;
        line-height: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

    .winningtmusitem-left a {
        font-size: 16px;
        width: 100%;
        height: 35px;
        display: block;
        line-height: 35px;
        text-align: center;
        border-radius: 35px;
        margin-top: 13px;
    }

    .whattl-area {
        padding: 40px 0;
        padding-top: 0px;
    }

    .howworktl-part {
        width: 100%;
        display: block;
        margin: auto;
    }

    .howworktl-part h2 {
        font-size: 30px;
        padding-bottom: 12px;
        line-height: 40px;
    }

    .howworktl-part p {
        font-size: 14px;
        line-height: 24px;
    }

    .howworktl-area {
        padding: 35px 0;
    }

    .slider-area .owl-carousel .owl-item.center.active {
        transform: scale(1) !important;
    }

    .slider1-user img {
        margin-top: -84px;
    }

    .slider-area .owl-carousel .owl-stage-outer {
        padding-top: 48px;
    }

    .faq-part {
        border-radius: 10px;
        padding: 15px;
    }

    .footerpr-part {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 29px;
    }

    .slider2-area {
        display: block;
    }

    .lotteryresults-part {
        display: none;
    }

    .lotteryresults-area {
        padding: 45px 0;
    }

    .newtextitem2 h4 {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
}
